---
import ExperienceSection from "../sections/ExperienceSection.astro";
import ExpertiseSection from "../sections/ExpertiseSection.astro";
import ProjectSection from "../sections/ProjectSection.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Title from "./Title.astro";

// TODO: see how to combine  this with Native Astro internationalization
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main
  class="flex flex-1 flex-col items-center justify-center gap-16"
  id={t("header.home")}>
  <Title />

  <div
    class="flex w-full max-w-screen-2xl flex-col items-center justify-center gap-16">
    <ExpertiseSection id="expertise-section" />
    <ExperienceSection id="experience-section" />
    <!-- <ProjectSection id="project-section" /> -->
    <div class="flex flex-col">
      <span>
        This is a work in progress. I am continuously updating my experience
        section to better reflect my skills and projects.
      </span>
      <span>I am missing:</span>
      <ul>
        <li>Add milestones</li>
        <li>Include detailed descriptions for each role</li>
        <li>Add overview of the projects I have worked on</li>
        <li>Create new view to talk about projects</li>
        <li>Add certification</li>
        <li>Make language selector not a client side rendering component</li>
        <li>Add ui scratcher on website</li>
      </ul>
    </div>
  </div>
</main>
