---
import ExperienceSection from "../sections/ExperienceSection.astro";
import ExpertiseSection from "../sections/ExpertiseSection.astro";
import ProjectSection from "../sections/ProjectSection.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Title from "./Title.astro";

// TODO: see how to combine  this with Native Astro internationalization
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main
  class="flex flex-1 flex-col items-center justify-center gap-16"
  id={t("header.home")}>
  <Title />

  <div
    class="flex w-full max-w-screen-2xl flex-col items-center justify-center gap-16">
    <ExpertiseSection id="expertise-section" />
    <ExperienceSection id="experience-section" />
    <ProjectSection id="project-section" />
  </div>
</main>
