---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { Anchor } from "@/components/ui/anchor";
import LanguageSelector from "./LanguageSelector.astro";
import { MailIcon, GithubIcon, LinkedinIcon } from "@lucide/astro";

// TODO: see how to combine  this with Native Astro internationalization
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const referenceLinks = [
  {
    IconName: GithubIcon,
    value: import.meta.env.GITHUB,
    label: "GitHub",
  },
  {
    IconName: LinkedinIcon,
    value: import.meta.env.LINKEDIN,
    label: "LinkedIn",
  },
  {
    IconName: MailIcon,
    value: `mailto:${import.meta.env.EMAIL}`,
    label: "Email",
  },
];
---

<div
  class="flex flex-col items-center justify-center gap-16 py-8 md:py-16 lg:py-24"
  id={t("header.home")}>
  <div class="fixed right-4 top-4">
    <LanguageSelector />
  </div>
  <div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-center text-4xl font-heading xl:text-6xl 2xl:text-8xl">
      Sebastian Correa
    </h1>
    <h2 class="text-center text-xl font-heading xl:text-2xl 2xl:text-4xl">
      {t("index.title")}
    </h2>
  </div>
  <div class="flex flex-row flex-wrap gap-10">
    {
      referenceLinks.map((link) => (
        <Anchor
          variant="neutral"
          href={link.value}
          size="lg"
          aria-label={link.label}
          target={link.IconName !== MailIcon ? "_blank" : undefined}>
          <link.IconName />
        </Anchor>
      ))
    }
  </div>
</div>
