---
import IndexLayout from "@/layouts/IndexLayout.astro";
import IndexShared from "@/modules/IndexShared.astro";
---

<IndexLayout>
  <div
    class="w-container mx-auto flex max-w-full flex-col items-center gap-4 py-16 text-left text-foreground">
    <IndexShared />
  </div>
</IndexLayout>
