---
import Card from "../components/Card.astro";
import IndexLayout from "../layouts/IndexLayout.astro";
import Technologies from "../modules/Technologies";
---

<IndexLayout>
  <main class="flex flex-1 flex-col items-center justify-center">
    <h1 class="font-bold align text-5xl py-10 sm:py-5 text-red-700">Ayano</h1>
    <div class="py-10 flex flex-1 items-center justify-center">
      <Technologies />
    </div>
  </main>
</IndexLayout>
