---
---

<div id="board" class="absolute overflow-hidden rounded-md"></div>
<script src="../scripts/carousel.js"></script>
<style>
  #board {
    height: 21rem;
    width: 12.334rem;
  }

  .card {
    height: 21rem;
    width: 12.334rem;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%) translateY(-50%) scale(0.95);
  }
</style>
