---
import { Icon } from "astro-icon/components";

interface TechnologyProps {
  icon: any; // TODO: fix
  title: string;
  description: string;
}

const { icon, title, description } = Astro.props as TechnologyProps;
---

<div class="mb-4 flex items-center gap-4 sm:mb-6 sm:gap-6">
  <div
    class="flex size-10 items-center justify-center sm:size-12 lg:size-[55px] xl:size-[70px]">
    <!-- <Icon name={icon} class="h-10 sm:h-12 lg:h-[55px] xl:h-[70px]" /> -->
    Icon
  </div>
  <h3 class="text-lg sm:text-xl xl:text-2xl 2xl:text-3xl">{title}</h3>
</div>
<p class="text-base sm:text-lg xl:text-xl 2xl:text-2xl">
  {description}
</p>
