---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { code, text } = Astro.props;

const aboutURL = getRelativeLocaleUrl(code, "");
---

<a
  href={aboutURL}
  class="bg-lightpurple px-2 py-1 text-center text-xs text-whiter hover:bg-darkpurple">
  {text}
</a>
