---
interface TechnologyItem {
  technology: string;
}

const { technology } = Astro.props as TechnologyItem;
---

<span class="rounded-lg bg-lightpurple py-1 px-3 text-whiter hover:bg-darkpurple">
  {technology}
</span>
