---
interface TechnologyItem {
  technology: string;
}

const { technology } = Astro.props as TechnologyItem;
---

<span
  class="rounded-lg bg-lightpurple px-3 py-1 text-whiter hover:bg-darkpurple">
  {technology}
</span>
