---
import WorkingLayout from "@/layouts/WorkingLayout.astro";
import Footer from "@/modules/Footer.astro";
import IndexShared from "@/modules/IndexShared.astro";
import Working from "@/modules/Working";
---

<WorkingLayout>
  <div
    class="w-container mx-auto flex max-w-full flex-col items-center gap-4 py-16 text-left text-foreground"
  >
    <IndexShared />
  </div>
</WorkingLayout>
