---
import ExperienceItem from "../components/Experience/ExperienceItem.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import { type Experience } from "../types/technology";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const experiences: Experience[] = [
  {
    title: t('index.experience.softserve.role'),
    startDate: t('index.experience.softserve.start_date'),
    endDate: t('index.experience.softserve.end_date'),
    companyName: "SoftServe",
    companyURL: "https://www.softserveinc.com/",
    projects: [
      {
        title: t('index.experience.softserve.link.1'),
        url: "https://www.softserveinc.com/",
      },
    ],
    description:
      t('index.experience.softserve.description'),
    technologies: [
      "React",
      // "Django",
      // "Django REST Framework",
      // "AWS ELB",
      "AWS EKS",
      "Docker",
      // "Kubernetes",
      "JavaScript",
      "TypeScript",
      "Python",
      "HTML",
      // "SCSS",
      "CSS",
      // "REST",
    ],
  },
  {
    title: t('index.experience.verblio.role'),
    startDate: t('index.experience.verblio.start_date'),
    endDate: t('index.experience.verblio.end_date'),
    companyName: "Verblio",
    companyURL: "https://verblio.com/",
    projects: [
      {
        title: t('index.experience.verblio.link.1'),
        url: "https://app.verblio.com/",
      },
    ],
    description: t('index.experience.verblio.description'),
    technologies: [
      "Angular 12",
      "Ruby on Rails",
      "Heroku",
      "Recurly API",
      "JavaScript",
      "TypeScript",
      "Ruby",
      "HTML",
      "Bootstrap 4",
      "Apollo",
      "SCSS",
      "CSS",
      "GraphQL",
    ],
  },
  {
    title: t('index.experience.icomm.role'),
    startDate: t('index.experience.icomm.start_date'),
    endDate: t('index.experience.icomm.end_date'),
    companyName: "I-Comm Solutions SAS",
    companyURL: "https://i-comm.co/",
    projects: [
      {
        title: t('index.experience.icomm.link.1'),
        url: "https://www.factcil.com/",
      },
    ],
    description: t('index.experience.icomm.description'),
    technologies: [
      "React",
      "Django",
      "Django REST Framework",
      "AWS ELB",
      "AWS EC2",
      "Docker",
      "Kubernetes",
      "JavaScript",
      "TypeScript",
      "Python",
      "HTML",
      "MUI",
      "SCSS",
      "CSS",
      "REST",
    ],
  },
  {
    title: t('index.experience.geomedical.role'),
    startDate: t('index.experience.geomedical.start_date'),
    endDate: t('index.experience.geomedical.end_date'),
    companyName: "Geomedical Health Group",
    companyURL: "https://geomedical.co/",
    projects: [
      {
        title: t('index.experience.geomedical.link.1'),
        url: "https://lac.unfpa.org/es/news/partera-vital-un-proyecto-pionero-que-articula-la-sabidur%C3%ADa-ancestral-con-los-servicios-de",
      },
    ],
    description: t('index.experience.geomedical.description'),
    technologies: [
      "React",
      "React Native",
      "Flask",
      "Google Cloud",
      "Google App Engine",
      "Docker",
      "JavaScript",
      "TypeScript",
      "Python",
      "HTML",
      "CSS",
      "SCSS",
      "REST",
    ],
  },
];
---

<SectionLayout>
  <div class="flex flex-col items-center justify-center" id={t('header.work')}>
    <SectionTitle title={t("index.experience.title")} />
    <div class="mx:auto container max-w-xs sm:max-w-sm md:max-w-3xl">
      <div class="flex flex-col flex-wrap gap-16 md:gap-8">
        {experiences.map((experience) => <ExperienceItem {...experience} />)}
      </div>
    </div>
  </div>
</SectionLayout>
