---
import ProjectItem from "../components/ProjectItem.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import { Project } from "../types/technology";

const projects: Project[] = [
  {
    title: "Kanji Learning Platform - 鬼門",
    url: "https://kanji-lyrics-frontend.vercel.app/",
    description:
      'Currently working on a web application to help Japanese Kanji learners practice with music.',
    technologies: [
      "NextJS",
      "React",
      "Vercel",
      "Tailwind CSS",
      "JavaScript",
      "TypeScript",
      "HTML",
      "CSS",
      "SCSS",
    ],
    additionalLinks: [
      {
        title: "GitHub",
        url: "https://github.com/AyanoNK/kanji-lyrics-frontend",
      },
    ],
  },
  {
    title: "Mobile Bird Recognizer",
    url: "https://github.com/AyanoNK/atlapetes-blancae",
    description:
      'Fully developed an Android mobile application to recognize an endangered bird species called "Atlapetes Blancae" using a Machine Learning image classification model. Researchers are currently using it to recognize the endangered bird in rural areas of Antioquia, Colombia. The Humboldt Institute reserves the application usage rights, and permission is needed to download and use the application.',
    technologies: [
      "Kotlin",
      "PyTorch",
      "Android Studio",
      "Java",
      "CameraX",
      "XML",
      "Google Play Store",
    ],
    additionalLinks: [
      {
        title: "GitHub",
        url: "https://github.com/AyanoNK/atlapetes-blancae",
      },
    ],
  },
  {
    title: "Artist Portfolio Website - Poshaus",
    url: "https://www.poshaus.art/",
    description:
      'Successfully transformed 100% of an Illustrator & Designer\'s ideas into a web portfolio called "Poshaus" using new technology paradigms. Even after finishing the envisioned product, new features are still being planned to be included. ',
    technologies: [
      "Astro",
      "React",
      "Vercel",
      "Tailwind CSS",
      "JavaScript",
      "TypeScript",
      "HTML",
      "CSS",
      "SCSS",
    ],
    additionalLinks: [
      {
        title: "GitHub",
        url: "https://github.com/AyanoNK/poshaus",
      },
    ],
  },
];
---

<SectionLayout>
  <div class="flex flex-col items-center justify-center" id="projects">
    <SectionTitle title="Projects" />
    <div class="mx:auto container max-w-xs sm:max-w-sm md:max-w-3xl">
      <div class="flex flex-col flex-wrap gap-16 sm:gap-8">
        {projects.map((project) => <ProjectItem {...project} />)}
      </div>
    </div>
  </div>
</SectionLayout>
