---
import ProjectItem from "../components/ProjectItem.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import { type Project } from "../types/technology";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects: Project[] = [
  {
    title: t('index.projects.kimon.title'),
    url: "https://www.kimon.app/",
    description: t('index.projects.kimon.description'),
    technologies: [
      "NextJS",
      "React",
      "Vercel",
      "Supabase",
      "Tailwind CSS",
      "JavaScript",
      "TypeScript",
      "HTML",
      "CSS",
      "SCSS",
    ],
    additionalLinks: [
      {
        title: "GitHub",
        url: "https://github.com/AyanoNK/kanji-lyrics-frontend",
      },
    ],
    video_id: "kimon",
    video_width: "268",
    video_height: "438"
  },
  {
    title: t('index.projects.atlapetes.title'),
    url: "https://github.com/AyanoNK/atlapetes-blancae",
    description: t('index.projects.atlapetes.description'),
    technologies: [
      "Kotlin",
      "PyTorch",
      "Android Studio",
      "Java",
      "CameraX",
      "XML",
      "Google Play Store",
    ],
    additionalLinks: [
      {
        title: "GitHub",
        url: "https://github.com/AyanoNK/atlapetes-blancae",
      },
    ],
    video_id: "atlapetes",
    video_width: "242",
    video_height: "540"
  },
  {
    title: t('index.projects.poshaus.title'),
    url: "https://www.poshaus.art/",
    description: t('index.projects.poshaus.description'),
    technologies: [
      "Astro",
      "React",
      "Vercel",
      "Tailwind CSS",
      "JavaScript",
      "TypeScript",
      "HTML",
      "CSS",
      "SCSS",
    ],
    additionalLinks: [
      {
        title: "GitHub",
        url: "https://github.com/AyanoNK/poshaus",
      },
    ],
    video_id: "poshaus",
    video_width: "244",
    video_height: "384"
  },
];
---

<SectionLayout>
  <div class="flex flex-col items-center justify-center" id={t('header.projects')}>
    <SectionTitle title={t("index.projects.title")} />
    <div class="mx:auto container">
      <div class="flex flex-col flex-wrap gap-16 md:gap-8">
        {projects.map((project) => <ProjectItem {...project} />)}
      </div>
    </div>
  </div>
</SectionLayout>
