---
import Footer from "../modules/Footer";
import Header from "../modules/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Ayano.dev</title>
    <script>
      import { webVitals } from "../lib/vitals";

      let analyticsId = import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID;

      if (analyticsId) {
        webVitals({
          path: location.pathname,
          params: location.search,
          analyticsId,
        });
      }
    </script>
  </head>
  <body
    class="font-inter m-0 bg-gradient-to-b from-darkpurple via-lightpurple to-darkpurple"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
